{% extends "base.html.twig" %}
{% block body %}

    <H2>TODO LIST!</H2>

    <div id="left_panel">

        <div id="stat1" class="stat">
            <p class="pt">Done today:</p>
            <p class="pt"> {{ today_stat }}</p>
        </div>
        <div id="stat2" class="stat">

            <p class="pt">Done this week:</p>
            <p class="pt"> {{ week_stat }}</p>
        </div>


        <div id="stat3" class="stat"></div>

    </div>

    <button type="button" id="logout_button" name="logout_button">Logout</button>

    <div id="tttable" name="tttable">


        <div id="screen" name="screen">
            {% for item in products %}
                <div id="{{ item.id }}" name="{{ item.id }}" class="goal"> {#onclick="expand_div('{{ item.id }}')">#}
                    <p class="head">{{ item.description }}</p><br>
                    <p id="p_{{ item.id }}" name="p_{{ item.id }}" class="inner_p">{{ item.date.format('Y-m-d H:i:s') }} {{ item.username }}
                        <button type="button" id="done_button" onclick="done(this)">DONE</button>
                    </p>
                </div>
            {% endfor %}
        </div>
        <br>
        <div id="new_box" name="new_box">
            <button type="button" id="new_button" onclick="new_form()">Add new TODO</button>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/sss.js"></script>
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/my.css') }}">

{% endblock %}
